<div id="header">
	<div class="title">
		<h1>unite all originals</h1>
	</div>
</div>

<a href="#" class="header_top" data-target="#intro .copy1" data-target-landing-position="start" data-target-offset="10">top</a>

<div id="external">
	<div class="adidas">adidas</div>
	<a href="http://m.adidas.co.kr/MO/Product/planShopPrdList.action?mainId=874&subId=1754" class="shop" target="_blank">shop</a>
</div>


<div id="lnb">
	<ul class="nav">
		<li><a href="http://alladidas.com/unite" data-target="#intro .copy1" data-target-landing-position="start" data-target-offset="10">top</a></li>
		<li><a href="http://alladidas.com/collider" data-target="#section_global">global</a></li>
		<li><a href="http://alladidas.com/unite?section=2" data-target="#section2">더블K, 서효인</a></li>
		<li><a href="http://alladidas.com/phantom" data-target="#section9 .scene2" data-target-offset="-100">phantom</a></li>
	</ul>
</div>

<div id="content">
	<div id="scrollbar"></div>
	
	<%= render partial: 'main/mobile/loading' %>
	
	<%= render partial: 'main/mobile/intro' %>
	
	<%= render partial: 'main/mobile/s1' %>
	
	<%= render partial: 'main/mobile/sg' %>

	<%= render partial: 'main/mobile/s2' %>

	<%= render partial: 'main/mobile/s3' %>

	<%= render partial: 'main/mobile/s4' %>

	<%= render partial: 'main/mobile/s5' %>

	<%= render partial: 'main/mobile/s6' %>

	<%= render partial: 'main/mobile/s7' %>

	<%= render partial: 'main/mobile/s8' %>

	<%= render partial: 'main/mobile/s9' %>

	<%= render partial: 'main/mobile/s11' %>
</div>


<div id="collaboration_popup">
	<div class="bg"></div>

	<div class="wrapper">
		<a href="#" class="close">close</a>
		
		<div class="content">
			<div class="s2_colla_content" data-length="4" data-current-position="1">
				<%= image_tag "mobile/section2/colla_1.png", class: "partial", data: { position: 1 } %>
				<%= image_tag "mobile/section2/colla_2.png", class: "partial", data: { position: 2 }, style: "display:none" %>
				<%= image_tag "mobile/section2/colla_3.png", class: "partial", data: { position: 3 }, style: "display:none" %>
				<div class="partial" data-position="4" style="display:none;background-image: url('<%= image_path("mobile/section2/colla_4.png") %>')">
					<iframe width="460" height="332" src="http://www.youtube.com/embed/sJbDaJ-Xsp0" frameborder="0" allowfullscreen></iframe>
				</div>
				
			</div>
			<div class="s4_colla_content" data-length="4" data-current-position="1">
				<%= image_tag "mobile/section4/colla_1.png", class: "partial", data: { position: 1 } %>
				<%= image_tag "mobile/section4/colla_2.png", class: "partial", data: { position: 2 }, style: "display:none" %>
				<%= image_tag "mobile/section4/colla_3.png", class: "partial", data: { position: 3 }, style: "display:none" %>
				<%= image_tag "mobile/section4/colla_4.png", class: "partial", data: { position: 4 }, style: "display:none" %>
			</div>
			<div class="s6_colla_content" data-length="4" data-current-position="1">
				<%= image_tag "mobile/section6/colla_1.png", class: "partial", data: { position: 1 } %>
				<%= image_tag "mobile/section6/colla_2.png", class: "partial", data: { position: 2 }, style: "display:none" %>
				<%= image_tag "mobile/section6/colla_3.png", class: "partial", data: { position: 3 }, style: "display:none" %>
				<%= image_tag "mobile/section6/colla_4.png", class: "partial", data: { position: 4 }, style: "display:none" %>
			</div>
			<div class="s8_colla_content" data-length="3" data-current-position="1">
				<%= image_tag "mobile/section8/colla_1.png", class: "partial", data: { position: 1 } %>
				<%= image_tag "mobile/section8/colla_2.png", class: "partial", data: { position: 2 }, style: "display:none" %>
				<div class="partial" data-position="3" style="display:none;background-image: url('<%= image_path("mobile/section8/colla_3.png") %>')">
					<iframe width="460" height="332" src="http://www.youtube.com/embed/zXOLjYtV3qs" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		
		<a href="#" class="prev">prev</a>
		<a href="#" class="next">next</a>
		
		<div class="pagination">
		</div>
	</div>
</div>


<%
imageTable = {
	section2: {},
	section4: {},
	section10: {},
}
(0..23).each { |i| imageTable[:section2][i] = image_path("mobile/section2/scene/#{i}.png") }
(0..17).each { |i| imageTable[:section4][i] = image_path("mobile/section4/scene/#{i}.png") }
(0..31).each { |i| imageTable[:section10][i] = image_path("mobile/section10/scene/#{i}.png") }
%>
<script type="text/javascript" charset="utf-8">
	var imageTable = <%= imageTable.to_json.html_safe %>;

	$(".product .product").click(function(e){
		ss.enableWindowScrollEvents(false);
		$(".product").parent().parent().children(".popups").show();
	})
	
	$("img.popup").click(function(e) {
		var target = $(this).attr("data-source");
		$(target).fadeIn();
		ss.enableWindowScrollEvents(false);
		console.log("aa")
		deselectPage("#section_global");
	});
	
	$(".popups").click(function(e){
		$(".popups").hide();
		ss.enableWindowScrollEvents(true);
	})
	
	
	



	$("a[data-type='colla']").click(function(e) {
		e.preventDefault();
		open_colla_popup($(this));
	});

	var open_colla_popup = function(e) {
		$("#collaboration_popup .pagination").html("");
		
		var section = $(e).attr("data-source");
		$("#collaboration_popup").removeClass().addClass(section)
		$("#collaboration_popup .content div").hide();
		var container = $("#collaboration_popup .content div." + section + "_colla_content");
		container.find(".partial").hide();
		container.find(".partial[data-position=1]").show();
		container.attr("data-current-position", 1);
		container.show();
		var length = container.attr("data-length");
		
		for (var i=1; i <= length; i++) {
			var link = $("<a href='#' data-target='" + i + "'>" + i + "</a>");
			if (i == 1) {
				link.addClass("selected");
			}
			
			link.click(function(e) {
				e.preventDefault();
				moveToContentOnColla($(this));
			});
			$("#collaboration_popup .pagination").append(link);
		}
		
		$("#collaboration_popup").fadeIn();

		ss.enableWindowScrollEvents(false);
	};

	var moveToContentOnColla = function(e) {
		$("#collaboration_popup .pagination a").removeClass("selected");
		e.addClass("selected");
		
		var section = $("#collaboration_popup").attr("class");
		var container = $("#collaboration_popup .content div." + section + "_colla_content");
		var target = e.attr("data-target");
		
		container.find(".partial").fadeOut();
		container.find(".partial[data-position=" + target + "]").fadeIn();
		container.attr("data-current-position", target);
	}

	$("#collaboration_popup .bg, #collaboration_popup a.close").click(function(e) {
		e.preventDefault();
		$("#collaboration_popup").fadeOut();
		ss.enableWindowScrollEvents(true);
	});

	$("#collaboration_popup a.prev, #collaboration_popup a.next").click(function(e) {
		e.preventDefault();

		var section = $("#collaboration_popup").attr("class");
		var container = $("#collaboration_popup .content div." + section + "_colla_content");
		
		var current = parseInt(container.attr("data-current-position"));
		var first = 1;
		var last = container.attr("data-length");

		var target;
		if ($(this).hasClass("prev")) {
			target = (current - 1 < first)? last : current - 1;
		}
		else {
			target = (current + 1 > last)? first : current + 1;
		}
		container.attr("data-current-position", target);

		container.find(".partial").fadeOut();
		container.find(".partial[data-position=" + target + "]").fadeIn();

		$("#collaboration_popup .pagination a").removeClass("selected");
		$("#collaboration_popup .pagination a[data-target='" + target + "']").addClass("selected");
	});
	
</script>
