<div id="header">
	<div class="title">
		<h1>unite all originals</h1>
	</div>
</div>

<div id="external">
	<div class="adidas">adidas</div>
	<a href="http://m.adidas.co.kr/MO/Product/planShopPrdList.action?mainId=874&subId=1754" class="shop" target="_blank">shop</a>
</div>


<div id="lnb">
	<ul class="nav">
		<li><a href="http://alladidas.com/unite" data-target="#intro .copy1" data-target-landing-position="start" data-target-offset="10">top</a></li>
		<li><a href="http://alladidas.com/collider" data-target="#section_global">global</a></li>
		<li><a href="http://alladidas.com/unite?section=2" data-target="#section2">더블K, 서효인</a></li>
		<li><a href="http://alladidas.com/phantom" data-target="#section3">phantom</a></li>
	</ul>
</div>

<div id="content">
	<div id="scrollbar"></div>
	
	<%= render partial: 'main/mobile/loading' %>
	
	<%= render partial: 'main/mobile/intro' %>
	
	<%= render partial: 'main/mobile/s1' %>
	
	<%= render partial: 'main/mobile/sg' %>

	<%= render partial: 'main/mobile/s2' %>

	<%= render partial: 'main/mobile/s3' %>

	<%= render partial: 'main/mobile/s4' %>

	<%= render partial: 'main/mobile/s5' %>

	<%= render partial: 'main/mobile/s6' %>

	<%= render partial: 'main/mobile/s7' %>

	<%= render partial: 'main/mobile/s8' %>

	<%= render partial: 'main/mobile/s9' %>
</div>	
<%
imageTable = {
	section2: {},
	section4: {},
	section10: {},
}
(0..23).each { |i| imageTable[:section2][i] = image_path("mobile/section2/scene/#{i}.png") }
(0..17).each { |i| imageTable[:section4][i] = image_path("mobile/section4/scene/#{i}.png") }
(0..31).each { |i| imageTable[:section10][i] = image_path("mobile/section10/scene/#{i}.png") }
%>
<script type="text/javascript" charset="utf-8">
	var imageTable = <%= imageTable.to_json.html_safe %>;

	$(".product .product").click(function(e){
		$(".popups").show();
	})
	
	$(".popups").bind('mousewheel', false);
	
	$(".close").click(function(e){
		$(".popups").hide();
	})
</script>
