<% 
images = []
(1..11).each do |i|
	Dir.glob("app/assets/images/section#{i}/scene/*").each do |img| 
		images << image_path(img.split("/")[3..-1].join("/")) if File.file?(img)
	end
end
%>
<script type="text/javascript" charset="utf-8">
var preloadImages = <%= images.compact.to_json.html_safe %>;

var getLoading = function(loaded, total) {
  if (!_.isNumber(loaded) || !_.isNumber(total)) {
    return false
  }

  var progress = parseInt(loaded / total * 100);
	$("#progress div").css("width", progress + "%");

  if (progress >= 100) {
		completeLoading();
  }
}

var running = false;
var timer;
var completeLoading = function() {
	if (running == true) {
		return;
	}
	
	running = true;
	
	ss.enableWindowScrollEvents(true);

	<%
	if params[:section].present?
		if params[:section] == "global"
			concat "ss.scrollToSection('#section_global');".html_safe
		elsif params[:section] == "3"
			concat "ss.scrollToSection('#section3');".html_safe
		else
			concat "ss.scrollToSection('#section#{params[:section]}', 'start');".html_safe
		end
	%>
		
		var fixed_scroll_guide = $("#loading").clone();
		fixed_scroll_guide.css({ position: "fixed", opacity: 1 });
		fixed_scroll_guide.attr("id", "loading_clone");
		fixed_scroll_guide.show();
		$("#container").append(fixed_scroll_guide);
		setTimeout(function() {
			$("#loading_clone").fadeOut();
		}, 500);
	<%
	end
	%>


	$(".indicator .progress_wrapper").fadeOut();
	$(".scroll_guide").fadeIn();

	var timer;
	var guide_scene = 1;
	var guide_animate = function() {
		guide_scene = (guide_scene == 5)? 1 : guide_scene + 1;
		$(".scroll_guide").attr("data-scene", guide_scene);
		timer = setTimeout(guide_animate, 200);
	};
	
	guide_animate();	
}

$(document).ready(function() {
	$("a.facebook").click(function(e) {
		e.preventDefault();
		window.open('http://www.facebook.com/sharer.php?u=https://alladidas.com/unite','sharer','toolbar=0,status=0,width=580,height=325');
	});
	$("a.twitter").click(function(e) {
		e.preventDefault();
		window.open('https://twitter.com/intent/tweet?text=%ED%8F%89%EB%B2%94%ED%95%A8%EC%97%90%20%EB%8B%B9%EC%8B%A0%EC%9D%84%20%EA%B0%80%EB%91%90%EC%96%B4%20%EB%86%93%EC%A7%80%20%EB%A7%88%EC%84%B8%EC%9A%94.%EB%8B%B9%EC%8B%A0%EC%9D%B4%20%EC%82%B4%EA%B3%A0%20%EC%9E%88%EB%8A%94%20%EB%8F%84%EC%8B%9C,%20%EA%B7%B8%EB%A6%AC%EA%B3%A0%20%EC%B9%9C%EA%B5%AC%EB%93%A4%EA%B3%BC%20%EA%B1%B7%EB%8A%94%20%EA%B1%B0%EB%A6%AC%EC%97%90%EC%84%9C%20%EC%98%81%EA%B0%90%EC%9D%84%20%EC%96%BB%EC%96%B4%20%EB%B3%B4%EC%84%B8%EC%9A%94.%EA%B7%B8%EB%A6%AC%EA%B3%A0%20%EC%B9%9C%EA%B5%AC%EB%93%A4%EA%B3%BC%20%EC%83%88%EB%A1%9C%EC%9A%B4%20%EA%B8%B8%EB%A1%9C%20%EB%82%98%EC%95%84%EA%B0%80%20%EB%B3%B4%EC%84%B8%EC%9A%94.&url=https://alladidas.com/unite','sharer','toolbar=0,status=0,width=580,height=325');
	});
	
	setTimeout(function() {
		imagePreloader(preloadImages, getLoading, true);
	}, 500);
	createScrollAnimation();
	ss.enableWindowScrollEvents(false);
});


</script>

<%= render :partial => 'header' %>

<div id="content">
	<div id="loading">
		<div class="bg"></div>
		
		<div id="indicator" class="indicator">
			<div class="progress_wrapper">
				<%= image_tag "loading/loading.png", class: "text" %>
				<div id="progress">
					<div></div>
				</div>
			</div>
			
			<div id="scroll_guide" class="scroll_guide"></div>
		</div>
		
	</div>

	<div id="intro">
		<div class="copy1"><%= image_tag "loading/text01.png" %></div>
		<div class="copy2"><%= image_tag "loading/text02.png" %></div>
		<div class="copy3"><%= image_tag "loading/text03.png" %></div>
	</div>

	<div id="section1">
		<%= image_tag("section1/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>
		
		<div class="wrapper">
			<div class="movie">
				<iframe width="640" height="390" src="http://www.youtube.com/embed/Yk0gjUGt5_k" frameborder="0" allowfullscreen></iframe>
			</div>

			<div class="sns">
				<a href="#" class="twitter" target="_blank"><%= image_tag "section1/btn_tw.png", alt: "follow originals" %></a>
				<a href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fadidas.com" class="facebook" target="_blank"><%= image_tag "section1/btn_fb.png", alt: "originals facebook" %></a>
			</div>
		</div>
	</div>

	<div id="section_global" class="artist">
		<%= image_tag("section10/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>
		
		<div class="wrapper">
			<div class="intro">
				<%= image_tag "section10/intro1.png", class: "intro1" %>
				<%= image_tag "section10/intro2.png", class: "intro2" %>
			</div>
			
			<div class="scene1">
				<%= image_tag "section10/scene/1.png", class: "scene", usemap: "#section_global_map" %>
				<map name="section_global_map" id="section_global_map">
					<area shape="rect" coords="0,0,0,0" href="http://unite.adidas.com/kr/" target="_blank">
				</map>
			</div>
		</div>
	</div>


	<div id="section2" class="artist">
		<%= image_tag("section2/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>
		
		<div class="intro">
			<%= image_tag "section2/intro.png" %>
		</div>

		<div class="wrapper">
			<div class="scene1">
				<%= image_tag "section2/top.png", class: "top", usemap: "#s2_top" %>
				<%= image_tag "section2/bottom.png", class: "bottom", usemap: "#s2_bottom" %>
				<%= image_tag "section2/left.png", class: "left" %>
				<%= image_tag "section2/right.png", class: "right" %>
				
				<map name="s2_top" id="s2_top">
					<area shape="rect" coords="0,124,100,218" href="#" onclick="open_artist_popup(this); return false" class="artist_popup" data-source="s2_top">
				</map>
				<map name="s2_bottom" id="s2_bottom">
					<area shape="rect" coords="276,158,376,252" href="#" onclick="open_artist_popup(this); return false" class="artist_popup" data-source="s2_bottom">
				</map>
			</div>
			
			<div class="scene2">
				<div data-partial="masking">
					<%= image_tag "section2/scene/0.png" %>
				</div>
				<div class="movie">
					<%= image_tag "section2/movie.jpg" %>
				</div>
				<%= image_tag "section2/text2.png", class: "text2" %>
			</div>
		</div>
	</div>
	
	<div id="section3" class="product">
		<%= image_tag("section3/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>

		<div class="wrapper">
			<%= image_tag "section3/product.png", class: "product" %>
			
			<div class="popup" data-partial="popup">
				<%= image_tag "section3/scene/0.png", usemap: "#section3_popup" %>
				<map name="section3_popup" id="section3_popup">
					<area data-type="shop" shape="rect" coords="0,0,0,0" href="http://shop.adidas.co.kr/PF020401.action?PROD_CD=Q23423&SRCH_NM=팬텀" target="_blank">
				</map>
			</div>
		</div>
	</div>
	
	<div id="section4" class="artist">
		<%= image_tag("section4/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>
		
		<div class="intro">
			<%= image_tag "section4/intro.png" %>
		</div>

		<div class="wrapper">
			<div class="scene1">
				<%= image_tag "section4/top.png", class: "top", usemap: "#s4_top" %>
				<%= image_tag "section4/bottom.png", class: "bottom", usemap: "#s4_bottom" %>
				<%= image_tag "section4/left.png", class: "left" %>
				<%= image_tag "section4/right.png", class: "right" %>
				
				<map name="s4_top" id="s4_top">
					<area shape="rect" coords="0,140,70,210" href="#" onclick="open_artist_popup(this); return false" class="artist_popup" data-source="s4_top">
				</map>
				<map name="s4_bottom" id="s4_bottom">
					<area shape="rect" coords="280,140,350,210" href="#" onclick="open_artist_popup(this); return false" class="artist_popup" data-source="s4_bottom">
				</map>
				
			</div>
			
			<div class="scene2">
				<div data-partial="masking">
					<%= image_tag "section4/scene/0.png" %>
				</div>
				<div class="movie">
					<%= image_tag "section4/movie.jpg" %>
				</div>
				
				<div class="texts">
					<%= image_tag "section4/left2.png", class: "left2" %>
					<%= image_tag "section4/right2.png", class: "right2" %>
				</div>
			</div>
		</div>
	</div>

	<div id="section5" class="product">
		<%= image_tag("section5/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>
		
		<div class="wrapper">
			<%= image_tag "section5/product.png", class: "product" %>
			
			<div class="popup" data-partial="popup">
				<%= image_tag "section5/scene/0.png", usemap: "#section5_popup" %>
				<map name="section5_popup" id="section5_popup">
					<area data-type="shop" shape="rect" coords="0,0,0,0" href="http://www.shop.adidas.co.kr/PF020401.action?PROD_CD=Q23425" target="_blank">
				</map>
			</div>
		</div>
	</div>
	
	<div id="section6" class="artist">
		<%= image_tag("section6/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>
				
		<div class="intro">
			<%= image_tag "section6/intro.png" %>
		</div>

		<div class="wrapper">
			<div class="scene1">
				<%= image_tag "section6/top.png", class: "top", usemap: "#s6_top" %>
				<%= image_tag "section6/bottom.png", class: "bottom", usemap: "#s6_bottom" %>
				<%= image_tag "section6/left.png", class: "left" %>
				<%= image_tag "section6/right.png", class: "right" %>
				
				<map name="s6_top" id="s6_top">
					<area shape="rect" coords="0,124,100,218" href="#" onclick="open_artist_popup(this); return false" class="artist_popup" data-source="s6_top">
				</map>
				<map name="s6_bottom" id="s6_bottom">
					<area shape="rect" coords="276,158,376,252" href="#" onclick="open_artist_popup(this); return false" class="artist_popup" data-source="s6_bottom">
				</map>
			</div>
			
			<div class="scene2">
				<div data-partial="masking">
					<%= image_tag "section4/scene/0.png" %>
				</div>
				<div class="movie">
					<%= image_tag "section2/movie.jpg" %>
				</div>
				<%= image_tag "section6/text2.png", class: "text2" %>
			</div>
		</div>
	</div>
	
	<div id="section7" class="product">
		<%= image_tag("section7/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>
		
		<div class="wrapper">
			<%= image_tag "section7/product.png", class: "product" %>
			
			<div class="popup" data-partial="popup">
				<%= image_tag "section7/scene/0.png", usemap: "#section7_popup" %>
				<map name="section7_popup" id="section7_popup">
					<area data-type="shop" shape="rect" coords="0,0,0,0" href="http://shop.adidas.co.kr/PF020401.action?PROD_CD=Q23422&SRCH_NM=팬텀" target="_blank">
				</map>
			</div>
		</div>
	</div>

	<div id="section8" class="artist">
		<%= image_tag("section8/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>
		
		<div class="intro">
			<%= image_tag "section8/intro.png" %>
		</div>

		<div class="wrapper">
			<div class="scene1">
				<%= image_tag "section8/top.png", class: "top", usemap: "#s8_top" %>
				<%= image_tag "section8/bottom.png", class: "bottom", usemap: "#s8_bottom" %>
				<%= image_tag "section8/left.png", class: "left" %>
				<%= image_tag "section8/right.png", class: "right" %>
				
				<map name="s8_top" id="s8_top">
					<area shape="rect" coords="0,140,70,210" href="#" onclick="open_artist_popup(this); return false" class="artist_popup" data-source="s8_top">
				</map>
				<map name="s8_bottom" id="s8_bottom">
					<area shape="rect" coords="280,140,350,210" href="#" onclick="open_artist_popup(this); return false" class="artist_popup" data-source="s8_bottom">
				</map>

			</div>
			
			<div class="scene2">
				<div data-partial="masking">
					<%= image_tag "section4/scene/0.png" %>
				</div>
				<div class="movie">
					<%= image_tag "section4/movie.jpg" %>
				</div>
				
				<div class="texts">
					<%= image_tag "section8/left2.png", class: "left2" %>
					<%= image_tag "section8/right2.png", class: "right2" %>
				</div>
			</div>
		</div>
	</div>

	<div id="section9" class="product">
		<%= image_tag("section9/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>

		<div class="wrapper">
			<div class="scene1">
				<%= image_tag "section9/product.png", class: "product" %>

				<div class="popup" data-partial="popup">
					<%= image_tag "section9/scene/0.png", usemap: "#section9_popup" %>
					<map name="section9_popup" id="section9_popup">
						<area data-type="shop" shape="rect" coords="0,0,0,0" href="#" onclick="alert('입고 예정입니다.'); return false" target="_blank">
					</map>
				</div>
			</div>
			
			<div class="scene2">
				<%= image_tag "section9/product2.png", usemap: "#section9_map" %>
				<map name="section9_map" id="section9_map">
					<area shape="rect" coords="298,240,408,360" href="http://shop.adidas.co.kr/PF020401.action?PROD_CD=Q23422&SRCH_NM=%ED%8C%AC%ED%85%80" target="_blank">
					<area shape="rect" coords="120,418,230,528" href="http://shop.adidas.co.kr/PF020401.action?PROD_CD=Q23423&SRCH_NM=%ED%8C%AC%ED%85%80" target="_blank">
					<area shape="rect" coords="474,418,584,528" href="http://www.shop.adidas.co.kr/PF020401.action?PROD_CD=Q23425" target="_blank">
					<area shape="rect" coords="298,594,408,705" href="#" onclick="alert('입고 예정입니다.'); return false" target="_blank">
				</map>
			</div>
		</div>
	</div>


	<div id="section11" class="product">
		<%= image_tag("section11/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>
		
		<div class="wrapper">
			<%= image_tag "section11/product.png", class: "product", usemap: "#section11_map" %>
			<map name="section11_map" id="section11_map">
				<area shape="rect" coords="332,166,406,240" href="http://www.abcmart.co.kr/abc/product/detail?prdtCode=0032345&ctgrId=000100" target="_blank">
				<area shape="rect" coords="207,290,282,364" href="http://www.abcmart.co.kr/abc/product/detail?prdtCode=0032355" target="_blank">
				<area shape="rect" coords="456,290,530,364" href="http://www.abcmart.co.kr/abc/product/detail?prdtCode=0032356" target="_blank">
				<area shape="rect" coords="84,412,158,486" href="http://www.abcmart.co.kr/abc/product/detail?prdtCode=0032343&ctgrId=000100" target="_blank">
				<area shape="rect" coords="580,412,654,486" href="http://www.abcmart.co.kr/abc/product/detail?prdtCode=0032344" target="_blank">
			</map>
		</div>

		<a href="http://alladidas.com/unite" data-target="#intro .copy1" data-target-landing-position="start" data-target-offset="10" class="top">top</a>
	</div>

</div>


<div id="artist_popup">
	<div class="bg"></div>
	
	<div class="wrapper">
		<a href="#" class="close">close</a>
		<div class="scroll">
			<img src="/assets/section2/popup/top_text.png" class="text">
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	var artistImages = {
		"s2_top": { text: "<%= image_path("section2/popup/top_text.png") %>", bg: "<%= image_path("section2/popup/top_bg.png") %>" },
		"s2_bottom": { text: "<%= image_path("section2/popup/bottom_text.png") %>", bg: "<%= image_path("section2/popup/bottom_bg.png") %>" },
		"s4_top": { text: "<%= image_path("section4/popup/top_text.png") %>", bg: "<%= image_path("section4/popup/top_bg.png") %>" },
		"s4_bottom": { text: "<%= image_path("section4/popup/bottom_text.png") %>", bg: "<%= image_path("section4/popup/bottom_bg.png") %>" },
		"s6_top": { text: "<%= image_path("section6/popup/top_text.png") %>", bg: "<%= image_path("section6/popup/top_bg.png") %>" },
		"s6_bottom": { text: "<%= image_path("section6/popup/bottom_text.png") %>", bg: "<%= image_path("section6/popup/bottom_bg.png") %>" },
		"s8_top": { text: "<%= image_path("section8/popup/top_text.png") %>", bg: "<%= image_path("section8/popup/top_bg.png") %>" },
		"s8_bottom": { text: "<%= image_path("section8/popup/bottom_text.png") %>", bg: "<%= image_path("section8/popup/bottom_bg.png") %>" }
	}
	
	var open_artist_popup = function(e) {
		var section = $(e).attr("data-source");
		$("#artist_popup .wrapper").css("backgroundImage", "url(" + artistImages[section]["bg"] + ")");
		$("#artist_popup img.text").attr("src", artistImages[section]["text"]);
		$("#artist_popup").fadeIn();
		ss.enableWindowScrollEvents(false);
	};

	$("#artist_popup a.close").click(function() {
		$("#artist_popup").fadeOut();
		ss.enableWindowScrollEvents(true);
	})
</script>

<%
imageTable = {
	section2: {},
	section3: {},
	section4: {},
	section5: {},
	section7: {},
	section9: {},
	section10: {},
}
(0..23).each { |i| imageTable[:section2][i] = image_path("section2/scene/#{i}.png") }
(0..20).each { |i| imageTable[:section7][i] = image_path("section7/scene/#{i}.png") }
(0..17).each { |i| imageTable[:section4][i] = image_path("section4/scene/#{i}.png") }
(0..21).each do |i| 
	imageTable[:section3][i] = image_path("section3/scene/#{i}.png")
	imageTable[:section5][i] = image_path("section5/scene/#{i}.png")
	imageTable[:section9][i] = image_path("section9/scene/#{i}.png")
end
(0..31).each { |i| imageTable[:section10][i] = image_path("section10/scene/#{i}.png") }
%>
<script type="text/javascript" charset="utf-8">
var imageTable = <%= imageTable.to_json.html_safe %>;
</script>
<%= javascript_include_tag "scene" %>