<div id="section2" class="artist">
	<%= image_tag("mobile/section2/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>
	
	<div class="intro">
		<%= image_tag "mobile/section2/intro.png" %>
	</div>

	<div class="wrapper">
		<div class="scene1">
			<%= image_tag "mobile/section2/top.png", class: "top" %>
			<%= image_tag "mobile/section2/bottom.png", class: "bottom" %>
			<%= image_tag "mobile/section2/left.png", class: "left s2l" %>
			<%= image_tag "mobile/section2/right.png", class: "right s2r" %>
			<script type="text/javascript" charset="utf-8">
			$(".s2l").click(function(e){
				alert("wwww")
			})
			</script>
		</div>
		
		<div class="scene2">
			<div data-partial="masking">
				<%= image_tag "mobile/section2/scene/0.png" %>
			</div>
			<div class="movie">
				<%= image_tag "mobile/section2/movie.png" %>
			</div>
			<%= image_tag "mobile/section2/text2.png", class: "text2" %>
		</div>
	</div>
</div>
