<div id="section2" class="artist">
	<%= image_tag("mobile/section2/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>
	
	<div class="intro">
		<%= image_tag "mobile/section2/intro.png" %>
	</div>

	<div class="s2tp popups" style="display:none">
		<%= image_tag "mobile/section2/top_popup.png", class: "top" %>
	</div>
	<div class="s2bp popups" style="display:none">
		<%= image_tag "mobile/section2/bottom_popup.png", class: "bottom" %>
	</div>
	<div class="s2lp popups" style="display:none">
		<%= image_tag "mobile/section2/btn_left_popup.png", class: "left" %>
		<div class="close"></div>
	</div>
	<div class="s2rp popups" style="display:none">
		<%= image_tag "mobile/section2/btn_right_popup.png", class: "right" %>
		<div class="close"></div>
	</div>

	<div class="wrapper">
		<div class="scene1">
			<%= image_tag "mobile/section2/top.png", class: "top popup", data: { source: ".s2tp" } %>
			<%= image_tag "mobile/section2/bottom.png", class: "bottom popup", data: { source: ".s2bp" } %>
			<%= image_tag "mobile/section2/left.png", class: "left popup", data: { source: ".s2lp" } %>
			<%= image_tag "mobile/section2/right.png", class: "right popup", data: { source: ".s2rp" } %>
		</div>
		
		<div class="scene2">
			<div data-partial="masking">
				<%= image_tag "mobile/section2/scene/0.png" %>
			</div>
			<div class="movie">
				<%= image_tag "mobile/section2/movie.png" %>
			</div>
			<%= image_tag "mobile/section2/text2.png", class: "text2" %>
		</div>
	</div>
</div>