<div id="section6" class="artist">
	<%= image_tag("mobile/section6/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>
			
	<div class="intro">
		<%= image_tag "mobile/section6/intro.png" %>
	</div>

	<div class="wrapper">
		<div class="scene1">
			<%= image_tag "mobile/section6/top.png", class: "top" %>
			<%= image_tag "mobile/section6/bottom.png", class: "bottom" %>
			<%= image_tag "mobile/section6/left.png", class: "left" %>
			<%= image_tag "mobile/section6/right.png", class: "right" %>
		</div>
		
		<div class="scene2">
			<div data-partial="masking">
				<%= image_tag "mobile/section4/scene/0.png" %>
			</div>
			<div class="movie">
				<%= image_tag "mobile/section2/movie.jpg" %>
			</div>
			<%= image_tag "mobile/section6/text2.png", class: "text2" %>
		</div>
	</div>
</div>
