<div id="section8" class="artist">
	<%= image_tag("mobile/section8/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>
	
	<div class="intro">
		<%= image_tag "mobile/section8/intro.png" %>
	</div>

	<div class="wrapper">
		<div class="scene1">
			<%= image_tag "mobile/section8/top.png", class: "top" %>
			<%= image_tag "mobile/section8/bottom.png", class: "bottom" %>
			<%= image_tag "mobile/section8/left.png", class: "left" %>
			<%= image_tag "mobile/section8/right.png", class: "right" %>
		</div>
		
		<div class="scene2">
			<div data-partial="masking">
				<%= image_tag "mobile/section4/scene/0.png" %>
			</div>
			<div class="movie">
				<%= image_tag "mobile/section4/movie.png" %>
			</div>
			
			<div class="texts">
				<%= image_tag "mobile/section8/left2.png", class: "left2" %>
				<%= image_tag "mobile/section8/right2.png", class: "right2" %>
			</div>
		</div>
	</div>
</div>
