<div id="section_global" class="artist">
	<!-- <div class="wrapper">
		<div class="intro">
			<%= image_tag "mobile/section10/text.png", class: "intro1" %>
		</div>

	</div> -->

	<div id="section2" class="artist">
		<div class="wrapper">
			<div class="scene1">
				<%= image_tag "mobile/section2/top.png", class: "top" %>
				<%= image_tag "mobile/section2/bottom.png", class: "bottom" %>
				<%= image_tag "mobile/section2/left.png", class: "left" %>
				<%= image_tag "mobile/section2/right.png", class: "right" %>
			</div>
			<div class="mask_left"></div>
			<div class="mask_right"></div>

			<!-- <div class="scene2">
				<div data-partial="masking">
					<%= image_tag "mobile/section2/scene/0.png" %>
				</div>
				<div class="movie">
					<%= image_tag "mobile/section2/movie.jpg" %>
				</div>
				<%= image_tag "mobile/section2/text2.png", class: "text2" %>
			</div> -->
		</div>
	</div>

</div>		
